body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
  }
.menu {
    text-align: center;
}
.menu a {
  display: block;
  margin: 20px;
  text-decoration: none;
}
.menu button {
  font-size: 20px;
  padding: 15px 30px;
  cursor: pointer;
}
