body {
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
}
.buttons {
    margin-bottom:20px;
    margin-top:20px;
}
.buttons button {
    padding:4px 8px;
    margin-right:5px;
    border:1px solid black;
    background-color:#eee;
    font-size:14px;
    cursor:pointer;
}
.buttons button:hover {
    background-color:#ddd;
}
.buttons button:active {
    background-color:#ccc;
}
#display {
    width:320px;
    height:320px;
    border:1px solid #000;
    display:flex;
    align-items:center;
    justify-content:center;
}
img,svg,canvas {
    max-width:300px;
    max-height:300px;
    display:none;
}













